body {
  background-color: #19a1ae;
  background-image: url(./bg-pattern-top.svg), url(./bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  max-width: 350px;
  background-color: #fff;
  border-radius: 15px;
}

img {
  /* max-width: 100%; */
  border-radius: 15px 15px 0px 0px;
  max-width: 350px;
}

.logo-image img {
  border: 5px solid #fff;
  border-radius: 50%;
  /* margin-bottom: 24px; */
}

.logo-image {
  text-align: center;
  transform: translateY(-50%);
}

.name-age {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  margin-top: -24px;
  height: 23px;
  font-family: Kumbh Sans;
}
.name {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  color: #2e3349;
}
.age {
  margin-left: 9px;
}
.city {
  margin-top: 0;
  text-align: center;
  margin-bottom: 28px;
  font-family: Kumbh Sans;
  color: #6b7082;
  font-size: 14px;
  font-weight: 400;
}

hr {
  width: 350px;
  height: 1px;
  border: none;
  background: #e8e9ec;
  margin-bottom: 24px;
}

.followers-likes-photos {
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;
  font-family: Kumbh Sans;
}

/* .followers {
  display: block;
} */
.followers-quantity,
.likes-quantity,
.photos-quantity {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #2e3349;
  margin-bottom: 9px;
}
.div-title {
  text-align: center;
  color: #6b7082;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
}
